<header class="first_header">
    <div class="container">
        <div class="d-inline-block col-6">
            <h6  class="d-inline-block text-white">
                <i class="fas fa-envelope text-white px-2"></i>care@medcureindia.com  / <i class="fa fa-mobile text-white px-2" aria-hidden="true"></i>+91 7066132333</h6>
        </div>
        <div class="d-inline-block text-right col-6">
            <div class="input-group d-inline mx-3">
                <input type="text" class="outline_none">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
            <select class="outline_none">
                <option>Select Language</option>
                <option>English</option>
                <option>Hindi</option>
                <option>Telugu</option>
            </select>
        </div>
    </div>
</header>
<header class="border_bottom">
   <div class="container">
    <nav class="navbar p-0 row align-items-center">
        <div class="navbar-brand">
            <img src="https://medcureindia.com/images/logo.png">
        </div>
        <div class="ml-auto">
            <ul style="list-style-type: none;">
               <li><i class="fas fa-home px-2"></i><a>About us</a></li>
               <li routerLink="/hospitals"><a>Hospitals</a></li>
               <li><a>Services</a></li>
               <li><a>Treatment</a></li>
               <li><a>Blogs</a></li>
               <li><a>Contact Us</a></li>
            </ul>
        </div>
    </nav>
   </div>
</header>